/* *{
    margin: 0;
} */

body{
    text-align: center;
}

/* Configuração da div area1 */
.area1{
    width: 200px;
    /* height: 100px; */
    border: 15px solid deeppink;
    padding: 30px;
    margin: 10px;

    background-color: rgb(245, 220, 233);
}

/* Configuração da div area2 */
.area2{
    width: 200px;
    height: 200px;
    border: 15px solid yellow;
    padding: 10px 20px 30px 40px;
    margin: 10px;

    background-color: beige;
}

p{
    width: 15px;
}

/* Sem aplicar o box-sizing */
.area3{
    width: 300px;
    padding: 25px;
    margin: 20px;
    border: 2px solid deeppink;

    background-color: rgb(245, 220, 233);
}

/* Configurando com box-sizing: border-box */
.area4{
    width: 300px;
    padding: 25px;
    margin: 20px;
    box-sizing: border-box;
    border: 2px solid yellow;

    background-color: beige;
}

/* 
    Box-sizing: border-box
    width = todos os valores

    sem border-box
    width = conteúdo somente
*/

/* Avaliando a margin lateral entre componentes / elementos */
/* Margens laterais são somadas *
/* Margens superior e inferior respeita a maior margem */
.marginLateral{
    display: inline;
    border: 5px solid deeppink;
    margin: 25px;
}